<!doctype html>
<html lang="en-US">
    <head>
        <title>Read:Advent | 26-day Bible Reading Challenge</title>
        <meta name="title" content="Read:Advent | 26-day Bible Reading Challenge">
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0,width=device-width">
        <link rel="stylesheet" href="/styles.css">
        <meta name="description" content="Advent is a season in which we tell each other the story of Jesus as a way of looking forward to his coming. We can read this story in the Scriptures.">
        <meta name="keywords" content="bible,bible reading challenge,advent,jesus,church,penitential,bible reading,bible reading plan">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="author" content="Matt McElwee">
        <link rel="canonical" href="https://readadvent.com/">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://readadvent.com/">
        <meta property="og:title" content="Read:Advent | 26-day Bible Reading Challenge">
        <meta property="og:description" content="Advent is a season in which we tell each other the story of Jesus as a way of looking forward to his coming. We can read this story in the Scriptures.">
        <meta property="og:image" content="https://readadvent.com/screenshot.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://readadvent.com/">
        <meta property="twitter:title" content="Read:Advent | 26-day Bible Reading Challenge">
        <meta property="twitter:description" content="Advent is a season in which we tell each other the story of Jesus as a way of looking forward to his coming. We can read this story in the Scriptures.">
        <meta property="twitter:image" content="https://readadvent.com/screenshot_twitter.png">
    </head>
    <body>
        <header>
            <h1>Read:Advent</h1>
        </header>
        <div class="jumbotron">
            <h2>Read the Bible in 26 days!</h2>
            <p><strong>Advent</strong> is a season in which we tell each other the redemptive story of Jesus as a way of <strong>looking forward</strong> to his future coming. One of the best ways to experience this story is through the actual words of the <strong>Scriptures</strong>.</p>
            <p>This reading plan will take you through the Bible, mostly in order, from the first Sunday of Advent (November 29) through Christmas Eve. On Christmas Eve you will read the Hallelujah Psalms, God's discourse with Job, the final chapters of 2 Chronicles (the traditional ending of the Hebrew Scriptures), and Revelation.</p>
            <p>Taken together, each day's reading will take 3-4 hours, but we recommend splitting it up by major reading section (Psalms, Torah/Former Prophets, Latter Prophets/Writings, New Testament) over the course of the day. This will be quite a time commitment, but imagine the joy of reading the entirety of Scripture just before we celebrate the birth of our King.</p>

            <h3>Get Daily Updates</h3>
            <p>To help you accomplish this challenge, we'll send you one email per day with a reminder and the readings for that day.</p>
            <form>
                <div class="row" id="email-reminder">
                    <div class="form-control">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" name="email" />
                    </div>
                    <button type="submit">I'm In!</button>
                </div>
            </form>
        </div>
        <div class="calendar">
            <h2>Calendar</h2>
            <p id="removal-note"></p>
            <div class="days-grid">
                {calendar}
            </div>
        </div>
        <footer>
            <p>2020</p>
            <p><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Attribution-NonCommercial-ShareAlike 4.0 International</a></p>
            <p>This is a thing <a href="https://mattmcelwee.com">Matt</a> made.</p>
        </footer>
        <script src="form.js"></script>
        <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
        <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript>
    </body>
</html>
